mixin animation(name)
    .activat0r(ng-click="setActiveAnimation('#{name}')") #{name}
    .animat0r(ng-if="isActiveAnimation('#{name}')", ng-animate="'#{name}'") #{name}

doctype 5
html(ng-app="angular-animate")
    head
        style.
            .hello{
                float: left;
            }
            .bye{
                float: right;
            }
            .bye, .hello{
                padding: 10px;
                background-color: white;
                box-shadow: 0 0 40px 20px white;
            }
            .notifiers{
                width: 380px;
                margin-left: 120px;
                position: fixed;
                top: 60px;
            }
            body{
                padding-top: 100px;
                color: darkslategrey;
                font-family: 'PT Sans Caption', sans-serif;
                font-size: 18px;
                margin-left: auto;
                margin-right: auto;
                max-width: 600px;
            }
            body > div{
                display: inline-block;
            }
            .animat0r{
                position: fixed;
                top: 60px;
                left: 50%;
                display: block;
                padding: 10px 0;
                text-align: center;
                border-radius: 5px;
                background: darkorchid;
                border-bottom: orchid;
                margin-left: -50px;
                color: white;
                width: 100px;
                box-shadow: 0 0 40px 20px white;
                z-index: 999;
            }
            .activat0r{
                cursor: pointer;
                padding: 7px 40px;
                border-radius: 5px;
                border: 2px solid lightgrey;
                margin-right: 15px;
                margin-bottom: 15px;
            }
        include lib/animate.css/animate.min.css

        link(rel='stylesheet', type='text/css', href='style/angular-animate.css')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:700')

    body(ng-controller="animate-controller")

        .animat0r(ng-if="isActiveAnimation('animat0r')", ng-animate="'fade'") animat0r

        div.notifiers
            div.bye(ng-if="isBye()", ng-animate="'fadeUp'") goodbye
            div.hello(ng-if="isHello()", ng-animate="'fadeUp'") hello

        h1 Attention seekers

        mixin animation('flash')
        mixin animation('bounce')
        mixin animation('shake')
        mixin animation('swing')
        mixin animation('wobble')
        mixin animation('wiggle')
        mixin animation('pulse')

        h1 Flippers

        mixin animation('flip')
        mixin animation('flipX')
        mixin animation('flipY')

        h1 Fading

        mixin animation('fade')
        mixin animation('fadeUp')
        mixin animation('fadeDown')
        mixin animation('fadeLeft')
        mixin animation('fadeLeftBig')

        h1 Bouncing

        mixin animation('bounceIn')
        mixin animation('bounceDown')
        mixin animation('bounceUp')
        mixin animation('bounceLeft')
        mixin animation('bounceRight')

        h1 Rotating

        mixin animation('rotate')
        mixin animation('rotateDownLeft')
        mixin animation('rotateDownRight')

        h1 Lighspeed

        mixin animation('lightSpeed')

        h1 Specials

        mixin animation('hinge')
        mixin animation('roll')

        include lib/angular/angular.min.js

        script(src='http://localhost:35729/livereload.js')
        script(src='script/script.js')